<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>GEPROCEN</Name>
  <AddInID>{ca993aec-739a-4504-a9e8-7fe169c8a010}</AddInID>
  <Description>Generación de productos cartográficos</Description>
  <Version>2.3.3</Version>
  <Image>Images\GEPROCEN_1.png</Image>
  <Author>DEPARTAMENTO DE DISEÑO</Author>
  <Company>INEGI</Company>
  <Date>29/06/2023</Date>
  <Targets>
    <Target name="Desktop" version="10.8" />
  </Targets>
  <AddIn language="CLR" library="GEPROCEN.dll" namespace="GEPROCEN">
    <ArcMap>
      <Commands>
        <Button id="INEGI_GEPROCEN_Geprocen" class="Geprocen" message="Generación de productos censales. 29-Junio-2023" caption="GEPROCEN" tip="GEPROCEN Ver. 2.3.3" category="Add-In Controls" image="Images\Geprocen.png" />       
      </Commands>
    </ArcMap>
  </AddIn>
</ESRI.Configuration>